*{
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

h3{
    font-size: 28px;
}

.container{
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(10, 10, 10, 0.741);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__items {
    display: flex;
    width: 1000px;
    transition: all .6s ease-in-out;
}

.slider__items img {
    width: 1000px;
    height: 600px;    
}

.slider__controls {
    position: relative;
    display: flex;
    width: 100%;
}

.slider__controls label {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    cursor: pointer;   
}

.slider__controls label .circle{
    width: 30px;
    height: 30px;
    border: 4px solid rgb(81, 124, 217);
    background-color: rgb(81, 124, 217);
    border-radius: 50%;
}

.slider__controls label:hover .circle{
    background-color: aliceblue;
}

#radio-1:checked ~ .slider__controls label[for="radio-1"] .circle,
#radio-2:checked ~ .slider__controls label[for="radio-2"] .circle,
#radio-3:checked ~ .slider__controls label[for="radio-3"] .circle,
#radio-4:checked ~ .slider__controls label[for="radio-4"] .circle{ 
    background-color: inherit;
}

#radio-1:checked ~ .slider__wrapper .slider__items{ 
    transform: translate(0);
}

#radio-2:checked ~ .slider__wrapper .slider__items { 
    transform: translate(-1000px);
}

#radio-3:checked ~ .slider__wrapper .slider__items { 
    transform: translate(-2000px);
}

#radio-4:checked ~ .slider__wrapper .slider__items { 
    transform: translate(-3000px);
}

@media screen and (max-width: 1280px) {
    .container{
        width: 992px;
        height: 100vh;
    }

    .wrapper{
        width: 80%;
        margin: 0 auto;
    }
    
    .slider {
        position: relative;
    }
    
    .slider input[type=radio] {
        display: none;
    }
    
    .slider__wrapper {
        overflow: hidden;
    }
    
    .slider__items {
        display: flex;
        width: 800px;
        transition: all .6s ease-in-out;
    }
    
    .slider__items img {
        width: 800px;
        height: 400px;    
    }
    
    .slider__controls {
        position: relative;
        display: flex;
        width: 100%;
    }
    
    .slider__controls label {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: inherit;
        cursor: pointer;   
    }

    
    .slider__controls label:hover .circle{
        background-color: aliceblue;
    }
    
    #radio-1:checked ~ .slider__controls label[for="radio-1"] .circle,
    #radio-2:checked ~ .slider__controls label[for="radio-2"] .circle,
    #radio-3:checked ~ .slider__controls label[for="radio-3"] .circle,
    #radio-4:checked ~ .slider__controls label[for="radio-4"] .circle{ 
        background-color: inherit;
    }
    
    #radio-1:checked ~ .slider__wrapper .slider__items{ 
        transform: translate(0);
    }
    
    #radio-2:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-800px);
    }
    
    #radio-3:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-1600px);
    }
    
    #radio-4:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-2400px);
    }
    
}

@media screen and(max-width: 992px) {
    .container{
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }

    .slider {
        position: relative;
    }
    
    .slider input[type=radio] {
        display: none;
    }
    
    .slider__wrapper {
        overflow: hidden;
    }
    
    .slider__items {
        display: flex;
        width: 400%;
        transition: all .6s ease-in-out;
    }
    
    .slider__items img {
        width: 100%;
        height: 250px;    
    }
    
    .slider__controls {
        position: relative;
        display: flex;
        width: 100%;
    }
    
    .slider__controls label {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: inherit;
        cursor: pointer;   
    }
    
    .slider__controls label:hover .circle{
        background-color: aliceblue;
    }
    
    #radio-1:checked ~ .slider__controls label[for="radio-1"] .circle,
    #radio-2:checked ~ .slider__controls label[for="radio-2"] .circle,
    #radio-3:checked ~ .slider__controls label[for="radio-3"] .circle,
    #radio-4:checked ~ .slider__controls label[for="radio-4"] .circle{ 
        background-color: inherit;
    }
    
    #radio-1:checked ~ .slider__wrapper .slider__items{ 
        transform: translate(0);
    }
    
    #radio-2:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-23%);
    }
    
    #radio-3:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-45%);
    }
    
    #radio-4:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-72%);
    }
    
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        height: 100vh;
    }

    .slider__items {
        display: flex;
        width: 400%;
        height: 16%;
        transition: all .8s ease-in-out;
    }

    .slider__items .slider__item{
        width: 100%;
    }
    
    .slider__items img {
        width: 100%;
        height: 80%;    
    }
    

    #radio-1:checked ~ .slider__controls label[for="radio-1"] .circle,
    #radio-2:checked ~ .slider__controls label[for="radio-2"] .circle,
    #radio-3:checked ~ .slider__controls label[for="radio-3"] .circle,
    #radio-4:checked ~ .slider__controls label[for="radio-4"] .circle{ 
        background-color: inherit;
    }
    
    #radio-1:checked ~ .slider__wrapper .slider__items{ 
        transform: translate(0);
    }
    
    #radio-2:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-25%);
    }
    
    #radio-3:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-50%);
    }
    
    #radio-4:checked ~ .slider__wrapper .slider__items { 
        transform: translate(-75%);
    }
    
}

@media screen and (max-width: 568px) {
    .wrapper{
        width: 90%;
        margin: 0 auto;
    }

    h3{
        text-align: center;
    }

    .slider__items {
        display: flex;
        width: 400%;
        height: 300px;
        transition: all .8s ease-in-out;
    }

    .slider__items .slider__item{
        width: 100%;
    }
    
    .slider__controls {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }
}